{# templates/exercise/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Exercise</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    {# Check if the exercise object has an ID before generating the URL #}
    {% if exercise.id is defined %}
        <a href="{{ path('exercise_view', {'id': exercise.id}) }}" class="btn btn-secondary">Cancel</a>
    {% else %}
        {# Handle the case where exercise.id is not defined or empty #}
        <p>Exercise ID is not available.</p>
    {% endif %}
</div>
{% endblock %}
